In [ ]:
# Montando o Drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Importando bibliotecas

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Lendo a base

df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/train.csv')
df2 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/test.csv')
gs = pd.read_csv('/content/drive/My Drive/Colab Notebooks/gender_submission.csv')

In [ ]:
# Analisando a base de treino

df.shape

(891, 12)

In [ ]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df = df.drop(columns=['Cabin'])
df.shape

(891, 11)

In [ ]:
from sklearn.preprocessing import LabelEncoder

flabel = LabelEncoder()
df['Sex'] = flabel.fit_transform(df['Sex'])
df['Embarked'] = flabel.fit_transform(df['Embarked'])

In [ ]:
df = df.select_dtypes(include=['int64','float64'])
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    0  38.0      1      0  71.2833         0
2            3         1       3    0  26.0      0      0   7.9250         2
3            4         1       1    0  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2

In [ ]:
df = df.fillna(df['Age'].median())
display(df)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,1,22.00,1,0,7.2500,2
1,2,1,1,0,38.00,1,0,71.2833,0
2,3,1,3,0,26.00,0,0,7.9250,2
3,4,1,1,0,35.00,1,0,53.1000,2
4,5,0,3,1,35.00,0,0,8.0500,2
5,6,0,3,1,28.00,0,0,8.4583,1
6,7,0,1,1,54.00,0,0,51.8625,2
7,8,0,3,1,2.00,3,1,21.0750,2
8,9,1,3,0,27.00,0,2,11.1333,2
9,10,1,2,0,14.00,1,0,30.0708,0
10,11,1,3,0,4.00,1,1,16.7000,2
11,12,1,1,0,58.00,0,0,26.5500,2
12,13,0,3,1,20.00,0,0,8.0500,2
13,14,0,3,1,39.00,1,5,31.2750,2
14,15,0,3,0,14.00,0,0,7.8542,2
15,16,1,2,0,55.00,0,0,16.0000,2
16,17,0,3,1,2.00,4,1,29.1250,1
17,18,1,2,1,28.00,0,0,13.0000,2
18,19,0,3,0,31.00,1,0,18.0000,2
19,20,1,3,0,28.00,0,0,7.2250,0
20,21,0,2,1,35.00,0,0,26.0000,2
21,22,1,2,1,34.00,0,0,13.0000,2
22,23,1,3,0,15.00,0,0,8.0292,1
23,24,1,1,1,28.00,0,0,35.5000,2
24,25,0,3,0,8.00,3,1,21.0750,2
25,26,1,3,0,38.00,1,5,31.3875,2
26,27,0,3,1,28.00,0,0,7.2250,0
27,28,0,1,1,19.00,3,2,263.0000,2
28,29,1,3,0,28.00,0,0,7.8792,1
29,30,0,3,1,28.00,0,0,7.8958,2
30,31,0,1,1,40.00,0,0,27.7208,0
31,32,1,1,0,28.00,1,0,146.5208,0
32,33,1,3,0,28.00,0,0,7.7500,1
33,34,0,2,1,66.00,0,0,10.5000,2
34,35,0,1,1,28.00,1,0,82.1708,0
35,36,0,1,1,42.00,1,0,52.0000,2
36,37,1,3,1,28.00,0,0,7.2292,0
37,38,0,3,1,21.00,0,0,8.0500,2
38,39,0,3,0,18.00,2,0,18.0000,2
39,40,1,3,0,14.00,1,0,11.2417,0
40,41,0,3,0,40.00,1,0,9.4750,2
41,42,0,2,0,27.00,1,0,21.0000,2
42,43,0,3,1,28.00,0,0,7.8958,0
43,44,1,2,0,3.00,1,2,41.5792,0
44,45,1,3,0,19.00,0,0,7.8792,1
45,46,0,3,1,28.00,0,0,8.0500,2
46,47,0,3,1,28.00,1,0,15.5000,1
47,48,1,3,0,28.00,0,0,7.7500,1
48,49,0,3,1,28.00,2,0,21.6792,0
49,50,0,3,0,18.00,1,0,17.8000,2
50,51,0,3,1,7.00,4,1,39.6875,2
51,52,0,3,1,21.00,0,0,7.8000,2
52,53,1,1,0,49.00,1,0,76.7292,0
53,54,1,2,0,29.00,1,0,26.0000,2
54,55,0,1,1,65.00,0,1,61.9792,0
55,56,1,1,1,28.00,0,0,35.5000,2
56,57,1,2,0,21.00,0,0,10.5000,2
57,58,0,3,1,28.50,0,0,7.2292,0
58,59,1,2,0,5.00,1,2,27.7500,2
59,60,0,3,1,11.00,5,2,46.9000,2
60,61,0,3,1,22.00,0,0,7.2292,0
61,62,1,1,0,38.00,0,0,80.0000,3
62,63,0,1,1,45.00,1,0,83.4750,2
63,64,0,3,1,4.00,3,2,27.9000,2
64,65,0,1,1,28.00,0,0,27.7208,0
65,66,1,3,1,28.00,1,1,15.2458,0
66,67,1,2,0,29.00,0,0,10.5000,2
67,68,0,3,1,19.00,0,0,8.1583,2
68,69,1,3,0,17.00,4,2,7.9250,2
69,70,0,3,1,26.00,2,0,8.6625,2
70,71,0,2,1,32.00,0,0,10.5000,2
71,72,0,3,0,16.00,5,2,46.9000,2
72,73,0,2,1,21.00,0,0,73.5000,2
73,74,0,3,1,26.00,1,0,14.4542,0
74,75,1,3,1,32.00,0,0,56.4958,2
75,76,0,3,1,25.00,0,0,7.6500,2
76,77,0,3,1,28.00,0,0,7.8958,2
77,78,0,3,1,28.00,0,0,8.0500,2
78,79,1,2,1,0.83,0,2,29.0000,2
79,80,1,3,0,30.00,0,0,12.4750,2
80,81,0,3,1,22.00,0,0,9.0000,2
81,82,1,3,1,29.00,0,0,9.5000,2
82,83,1,3,0,28.00,0,0,7.7875,1
83,84,0,1,1,28.00,0,0,47.1000,2
84,85,1,2,0,17.00,0,0,10.5000,2
85,86,1,3,0,33.00,3,0,15.8500,2
86,87,0,3,1,16.00,1,3,34.3750,2
87,88,0,3,1,28.00,0,0,8.0500,2
88,89,1,1,0,23.00,3,2,263.0000,2
89,90,0,3,1,24.00,0,0,8.0500,2
90,91,0,3,1,29.00,0,0,8.0500,2
91,92,0,3,1,20.00,0,0,7.8542,2
92,93,0,1,1,46.00,1,0,61.1750,2
93,94,0,3,1,26.00,1,2,20.5750,2
94,95,0,3,1,59.00,0,0,7.2500,2
95,96,0,3,1,28.00,0,0,8.0500,2
96,97,0,1,1,71.00,0,0,34.6542,0
97,98,1,1,1,23.00,0,1,63.3583,0
98,99,1,2,0,34.00,0,1,23.0000,2
99,100,0,2,1,34.00,1,0,26.0000,2
100,101,0,3,0,28.00,0,0,7.8958,2
101,102,0,3,1,28.00,0,0,7.8958,2
102,103,0,1,1,21.00,0,1,77.2875,2
103,104,0,3,1,33.00,0,0,8.6542,2
104,105,0,3,1,37.00,2,0,7.9250,2
105,106,0,3,1,28.00,0,0,7.8958,2
106,107,1,3,0,21.00,0,0,7.6500,2
107,108,1,3,1,28.00,0,0,7.7750,2
108,109,0,3,1,38.00,0,0,7.8958,2
109,110,1,3,0,28.00,1,0,24.1500,1
110,111,0,1,1,47.00,0,0,52.0000,2
111,112,0,3,0,14.50,1,0,14.4542,0
112,113,0,3,1,22.00,0,0,8.0500,2
113,114,0,3,0,20.00,1,0,9.8250,2
114,115,0,3,0,17.00,0,0,14.4583,0
115,116,0,3,1,21.00,0,0,7.9250,2
116,117,0,3,1,70.50,0,0,7.7500,1
117,118,0,2,1,29.00,1,0,21.0000,2
118,119,0,1,1,24.00,0,1,247.5208,0
119,120,0,3,0,2.00,4,2,31.2750,2
120,121,0,2,1,21.00,2,0,73.5000,2
121,122,0,3,1,28.00,0,0,8.0500,2
122,123,0,2,1,32.50,1,0,30.0708,0
123,124,1,2,0,32.50,0,0,13.0000,2
124,125,0,1,1,54.00,0,1,77.2875,2
125,126,1,3,1,12.00,1,0,11.2417,0
126,127,0,3,1,28.00,0,0,7.7500,1
127,128,1,3,1,24.00,0,0,7.1417,2
128,129,1,3,0,28.00,1,1,22.3583,0
129,130,0,3,1,45.00,0,0,6.9750,2
130,131,0,3,1,33.00,0,0,7.8958,0
131,132,0,3,1,20.00,0,0,7.0500,2
132,133,0,3,0,47.00,1,0,14.5000,2
133,134,1,2,0,29.00,1,0,26.0000,2
134,135,0,2,1,25.00,0,0,13.0000,2
135,136,0,2,1,23.00,0,0,15.0458,0
136,137,1,1,0,19.00,0,2,26.2833,2
137,138,0,1,1,37.00,1,0,53.1000,2
138,139,0,3,1,16.00,0,0,9.2167,2
139,140,0,1,1,24.00,0,0,79.2000,0
140,141,0,3,0,28.00,0,2,15.2458,0
141,142,1,3,0,22.00,0,0,7.7500,2
142,143,1,3,0,24.00,1,0,15.8500,2
143,144,0,3,1,19.00,0,0,6.7500,1
144,145,0,2,1,18.00,0,0,11.5000,2
145,146,0,2,1,19.00,1,1,36.7500,2
146,147,1,3,1,27.00,0,0,7.7958,2
147,148,0,3,0,9.00,2,2,34.3750,2
148,149,0,2,1,36.50,0,2,26.0000,2
149,150,0,2,1,42.00,0,0,13.0000,2
150,151,0,2,1,51.00,0,0,12.5250,2
151,152,1,1,0,22.00,1,0,66.6000,2
152,153,0,3,1,55.50,0,0,8.0500,2
153,154,0,3,1,40.50,0,2,14.5000,2
154,155,0,3,1,28.00,0,0,7.3125,2
155,156,0,1,1,51.00,0,1,61.3792,0
156,157,1,3,0,16.00,0,0,7.7333,1
157,158,0,3,1,30.00,0,0,8.0500,2
158,159,0,3,1,28.00,0,0,8.6625,2
159,160,0,3,1,28.00,8,2,69.5500,2
160,161,0,3,1,44.00,0,1,16.1000,2
161,162,1,2,0,40.00,0,0,15.7500,2
162,163,0,3,1,26.00,0,0,7.7750,2
163,164,0,3,1,17.00,0,0,8.6625,2
164,165,0,3,1,1.00,4,1,39.6875,2
165,166,1,3,1,9.00,0,2,20.5250,2
166,167,1,1,0,28.00,0,1,55.0000,2
167,168,0,3,0,45.00,1,4,27.9000,2
168,169,0,1,1,28.00,0,0,25.9250,2
169,170,0,3,1,28.00,0,0,56.4958,2
170,171,0,1,1,61.00,0,0,33.5000,2
171,172,0,3,1,4.00,4,1,29.1250,1
172,173,1,3,0,1.00,1,1,11.1333,2
173,174,0,3,1,21.00,0,0,7.9250,2
174,175,0,1,1,56.00,0,0,30.6958,0
175,176,0,3,1,18.00,1,1,7.8542,2
176,177,0,3,1,28.00,3,1,25.4667,2
177,178,0,1,0,50.00,0,0,28.7125,0
178,179,0,2,1,30.00,0,0,13.0000,2
179,180,0,3,1,36.00,0,0,0.0000,2
180,181,0,3,0,28.00,8,2,69.5500,2
181,182,0,2,1,28.00,0,0,15.0500,0
182,183,0,3,1,9.00,4,2,31.3875,2
183,184,1,2,1,1.00,2,1,39.0000,2
184,185,1,3,0,4.00,0,2,22.0250,2
185,186,0,1,1,28.00,0,0,50.0000,2
186,187,1,3,0,28.00,1,0,15.5000,1
187,188,1,1,1,45.00,0,0,26.5500,2
188,189,0,3,1,40.00,1,1,15.5000,1
189,190,0,3,1,36.00,0,0,7.8958,2
190,191,1,2,0,32.00,0,0,13.0000,2
191,192,0,2,1,19.00,0,0,13.0000,2
192,193,1,3,0,19.00,1,0,7.8542,2
193,194,1,2,1,3.00,1,1,26.0000,2
194,195,1,1,0,44.00,0,0,27.7208,0
195,196,1,1,0,58.00,0,0,146.5208,0
196,197,0,3,1,28.00,0,0,7.7500,1
197,198,0,3,1,42.00,0,1,8.4042,2
198,199,1,3,0,28.00,0,0,7.7500,1
199,200,0,2,0,24.00,0,0,13.0000,2
200,201,0,3,1,28.00,0,0,9.5000,2
201,202,0,3,1,28.00,8,2,69.5500,2
202,203,0,3,1,34.00,0,0,6.4958,2
203,204,0,3,1,45.50,0,0,7.2250,0
204,205,1,3,1,18.00,0,0,8.0500,2
205,206,0,3,0,2.00,0,1,10.4625,2
206,207,0,3,1,32.00,1,0,15.8500,2
207,208,1,3,1,26.00,0,0,18.7875,0
208,209,1,3,0,16.00,0,0,7.7500,1
209,210,1,1,1,40.00,0,0,31.0000,0
210,211,0,3,1,24.00,0,0,7.0500,2
211,212,1,2,0,35.00,0,0,21.0000,2
212,213,0,3,1,22.00,0,0,7.2500,2
213,214,0,2,1,30.00,0,0,13.0000,2
214,215,0,3,1,28.00,1,0,7.7500,1
215,216,1,1,0,31.00,1,0,113.2750,0
216,217,1,3,0,27.00,0,0,7.9250,2
217,218,0,2,1,42.00,1,0,27.0000,2
218,219,1,1,0,32.00,0,0,76.2917,0
219,220,0,2,1,30.00,0,0,10.5000,2
220,221,1,3,1,16.00,0,0,8.0500,2
221,222,0,2,1,27.00,0,0,13.0000,2
222,223,0,3,1,51.00,0,0,8.0500,2
223,224,0,3,1,28.00,0,0,7.8958,2
224,225,1,1,1,38.00,1,0,90.0000,2
225,226,0,3,1,22.00,0,0,9.3500,2
226,227,1,2,1,19.00,0,0,10.5000,2
227,228,0,3,1,20.50,0,0,7.2500,2
228,229,0,2,1,18.00,0,0,13.0000,2
229,230,0,3,0,28.00,3,1,25.4667,2
230,231,1,1,0,35.00,1,0,83.4750,2
231,232,0,3,1,29.00,0,0,7.7750,2
232,233,0,2,1,59.00,0,0,13.5000,2
233,234,1,3,0,5.00,4,2,31.3875,2
234,235,0,2,1,24.00,0,0,10.5000,2
235,236,0,3,0,28.00,0,0,7.5500,2
236,237,0,2,1,44.00,1,0,26.0000,2
237,238,1,2,0,8.00,0,2,26.2500,2
238,239,0,2,1,19.00,0,0,10.5000,2
239,240,0,2,1,33.00,0,0,12.2750,2
240,241,0,3,0,28.00,1,0,14.4542,0
241,242,1,3,0,28.00,1,0,15.5000,1
242,243,0,2,1,29.00,0,0,10.5000,2
243,244,0,3,1,22.00,0,0,7.1250,2
244,245,0,3,1,30.00,0,0,7.2250,0
245,246,0,1,1,44.00,2,0,90.0000,1
246,247,0,3,0,25.00,0,0,7.7750,2
247,248,1,2,0,24.00,0,2,14.5000,2
248,249,1,1,1,37.00,1,1,52.5542,2
249,250,0,2,1,54.00,1,0,26.0000,2
250,251,0,3,1,28.00,0,0,7.2500,2
251,252,0,3,0,29.00,1,1,10.4625,2
252,253,0,1,1,62.00,0,0,26.5500,2
253,254,0,3,1,30.00,1,0,16.1000,2
254,255,0,3,0,41.00,0,2,20.2125,2
255,256,1,3,0,29.00,0,2,15.2458,0
256,257,1,1,0,28.00,0,0,79.2000,0
257,258,1,1,0,30.00,0,0,86.5000,2
258,259,1,1,0,35.00,0,0,512.3292,0
259,260,1,2,0,50.00,0,1,26.0000,2
260,261,0,3,1,28.00,0,0,7.7500,1
261,262,1,3,1,3.00,4,2,31.3875,2
262,263,0,1,1,52.00,1,1,79.6500,2
263,264,0,1,1,40.00,0,0,0.0000,2
264,265,0,3,0,28.00,0,0,7.7500,1
265,266,0,2,1,36.00,0,0,10.5000,2
266,267,0,3,1,16.00,4,1,39.6875,2
267,268,1,3,1,25.00,1,0,7.7750,2
268,269,1,1,0,58.00,0,1,153.4625,2
269,270,1,1,0,35.00,0,0,135.6333,2
270,271,0,1,1,28.00,0,0,31.0000,2
271,272,1,3,1,25.00,0,0,0.0000,2
272,273,1,2,0,41.00,0,1,19.5000,2
273,274,0,1,1,37.00,0,1,29.7000,0
274,275,1,3,0,28.00,0,0,7.7500,1
275,276,1,1,0,63.00,1,0,77.9583,2
276,277,0,3,0,45.00,0,0,7.7500,2
277,278,0,2,1,28.00,0,0,0.0000,2
278,279,0,3,1,7.00,4,1,29.1250,1
279,280,1,3,0,35.00,1,1,20.2500,2
280,281,0,3,1,65.00,0,0,7.7500,1
281,282,0,3,1,28.00,0,0,7.8542,2
282,283,0,3,1,16.00,0,0,9.5000,2
283,284,1,3,1,19.00,0,0,8.0500,2
284,285,0,1,1,28.00,0,0,26.0000,2
285,286,0,3,1,33.00,0,0,8.6625,0
286,287,1,3,1,30.00,0,0,9.5000,2
287,288,0,3,1,22.00,0,0,7.8958,2
288,289,1,2,1,42.00,0,0,13.0000,2
289,290,1,3,0,22.00,0,0,7.7500,1
290,291,1,1,0,26.00,0,0,78.8500,2
291,292,1,1,0,19.00,1,0,91.0792,0
292,293,0,2,1,36.00,0,0,12.8750,0
293,294,0,3,0,24.00,0,0,8.8500,2
294,295,0,3,1,24.00,0,0,7.8958,2
295,296,0,1,1,28.00,0,0,27.7208,0
296,297,0,3,1,23.50,0,0,7.2292,0
297,298,0,1,0,2.00,1,2,151.5500,2
298,299,1,1,1,28.00,0,0,30.5000,2
299,300,1,1,0,50.00,0,1,247.5208,0
300,301,1,3,0,28.00,0,0,7.7500,1
301,302,1,3,1,28.00,2,0,23.2500,1
302,303,0,3,1,19.00,0,0,0.0000,2
303,304,1,2,0,28.00,0,0,12.3500,1
304,305,0,3,1,28.00,0,0,8.0500,2
305,306,1,1,1,0.92,1,2,151.5500,2
306,307,1,1,0,28.00,0,0,110.8833,0
307,308,1,1,0,17.00,1,0,108.9000,0
308,309,0,2,1,30.00,1,0,24.0000,0
309,310,1,1,0,30.00,0,0,56.9292,0
310,311,1,1,0,24.00,0,0,83.1583,0
311,312,1,1,0,18.00,2,2,262.3750,0
312,313,0,2,0,26.00,1,1,26.0000,2
313,314,0,3,1,28.00,0,0,7.8958,2
314,315,0,2,1,43.00,1,1,26.2500,2
315,316,1,3,0,26.00,0,0,7.8542,2
316,317,1,2,0,24.00,1,0,26.0000,2
317,318,0,2,1,54.00,0,0,14.0000,2
318,319,1,1,0,31.00,0,2,164.8667,2
319,320,1,1,0,40.00,1,1,134.5000,0
320,321,0,3,1,22.00,0,0,7.2500,2
321,322,0,3,1,27.00,0,0,7.8958,2
322,323,1,2,0,30.00,0,0,12.3500,1
323,324,1,2,0,22.00,1,1,29.0000,2
324,325,0,3,1,28.00,8,2,69.5500,2
325,326,1,1,0,36.00,0,0,135.6333,0
326,327,0,3,1,61.00,0,0,6.2375,2
327,328,1,2,0,36.00,0,0,13.0000,2
328,329,1,3,0,31.00,1,1,20.5250,2
329,330,1,1,0,16.00,0,1,57.9792,0
330,331,1,3,0,28.00,2,0,23.2500,1
331,332,0,1,1,45.50,0,0,28.5000,2
332,333,0,1,1,38.00,0,1,153.4625,2
333,334,0,3,1,16.00,2,0,18.0000,2
334,335,1,1,0,28.00,1,0,133.6500,2
335,336,0,3,1,28.00,0,0,7.8958,2
336,337,0,1,1,29.00,1,0,66.6000,2
337,338,1,1,0,41.00,0,0,134.5000,0
338,339,1,3,1,45.00,0,0,8.0500,2
339,340,0,1,1,45.00,0,0,35.5000,2
340,341,1,2,1,2.00,1,1,26.0000,2
341,342,1,1,0,24.00,3,2,263.0000,2
342,343,0,2,1,28.00,0,0,13.0000,2
343,344,0,2,1,25.00,0,0,13.0000,2
344,345,0,2,1,36.00,0,0,13.0000,2
345,346,1,2,0,24.00,0,0,13.0000,2
346,347,1,2,0,40.00,0,0,13.0000,2
347,348,1,3,0,28.00,1,0,16.1000,2
348,349,1,3,1,3.00,1,1,15.9000,2
349,350,0,3,1,42.00,0,0,8.6625,2
350,351,0,3,1,23.00,0,0,9.2250,2
351,352,0,1,1,28.00,0,0,35.0000,2
352,353,0,3,1,15.00,1,1,7.2292,0
353,354,0,3,1,25.00,1,0,17.8000,2
354,355,0,3,1,28.00,0,0,7.2250,0
355,356,0,3,1,28.00,0,0,9.5000,2
356,357,1,1,0,22.00,0,1,55.0000,2
357,358,0,2,0,38.00,0,0,13.0000,2
358,359,1,3,0,28.00,0,0,7.8792,1
359,360,1,3,0,28.00,0,0,7.8792,1
360,361,0,3,1,40.00,1,4,27.9000,2
361,362,0,2,1,29.00,1,0,27.7208,0
362,363,0,3,0,45.00,0,1,14.4542,0
363,364,0,3,1,35.00,0,0,7.0500,2
364,365,0,3,1,28.00,1,0,15.5000,1
365,366,0,3,1,30.00,0,0,7.2500,2
366,367,1,1,0,60.00,1,0,75.2500,0
367,368,1,3,0,28.00,0,0,7.2292,0
368,369,1,3,0,28.00,0,0,7.7500,1
369,370,1,1,0,24.00,0,0,69.3000,0
370,371,1,1,1,25.00,1,0,55.4417,0
371,372,0,3,1,18.00,1,0,6.4958,2
372,373,0,3,1,19.00,0,0,8.0500,2
373,374,0,1,1,22.00,0,0,135.6333,0
374,375,0,3,0,3.00,3,1,21.0750,2
375,376,1,1,0,28.00,1,0,82.1708,0
376,377,1,3,0,22.00,0,0,7.2500,2
377,378,0,1,1,27.00,0,2,211.5000,0
378,379,0,3,1,20.00,0,0,4.0125,0
379,380,0,3,1,19.00,0,0,7.7750,2
380,381,1,1,0,42.00,0,0,227.5250,0
381,382,1,3,0,1.00,0,2,15.7417,0
382,383,0,3,1,32.00,0,0,7.9250,2
383,384,1,1,0,35.00,1,0,52.0000,2
384,385,0,3,1,28.00,0,0,7.8958,2
385,386,0,2,1,18.00,0,0,73.5000,2
386,387,0,3,1,1.00,5,2,46.9000,2
387,388,1,2,0,36.00,0,0,13.0000,2
388,389,0,3,1,28.00,0,0,7.7292,1
389,390,1,2,0,17.00,0,0,12.0000,0
390,391,1,1,1,36.00,1,2,120.0000,2
391,392,1,3,1,21.00,0,0,7.7958,2
392,393,0,3,1,28.00,2,0,7.9250,2
393,394,1,1,0,23.00,1,0,113.2750,0
394,395,1,3,0,24.00,0,2,16.7000,2
395,396,0,3,1,22.00,0,0,7.7958,2
396,397,0,3,0,31.00,0,0,7.8542,2
397,398,0,2,1,46.00,0,0,26.0000,2
398,399,0,2,1,23.00,0,0,10.5000,2
399,400,1,2,0,28.00,0,0,12.6500,2
400,401,1,3,1,39.00,0,0,7.9250,2
401,402,0,3,1,26.00,0,0,8.0500,2
402,403,0,3,0,21.00,1,0,9.8250,2
403,404,0,3,1,28.00,1,0,15.8500,2
404,405,0,3,0,20.00,0,0,8.6625,2
405,406,0,2,1,34.00,1,0,21.0000,2
406,407,0,3,1,51.00,0,0,7.7500,2
407,408,1,2,1,3.00,1,1,18.7500,2
408,409,0,3,1,21.00,0,0,7.7750,2
409,410,0,3,0,28.00,3,1,25.4667,2
410,411,0,3,1,28.00,0,0,7.8958,2
411,412,0,3,1,28.00,0,0,6.8583,1
412,413,1,1,0,33.00,1,0,90.0000,1
413,414,0,2,1,28.00,0,0,0.0000,2
414,415,1,3,1,44.00,0,0,7.9250,2
415,416,0,3,0,28.00,0,0,8.0500,2
416,417,1,2,0,34.00,1,1,32.5000,2
417,418,1,2,0,18.00,0,2,13.0000,2
418,419,0,2,1,30.00,0,0,13.0000,2
419,420,0,3,0,10.00,0,2,24.1500,2
420,421,0,3,1,28.00,0,0,7.8958,0
421,422,0,3,1,21.00,0,0,7.7333,1
422,423,0,3,1,29.00,0,0,7.8750,2
423,424,0,3,0,28.00,1,1,14.4000,2
424,425,0,3,1,18.00,1,1,20.2125,2
425,426,0,3,1,28.00,0,0,7.2500,2
426,427,1,2,0,28.00,1,0,26.0000,2
427,428,1,2,0,19.00,0,0,26.0000,2
428,429,0,3,1,28.00,0,0,7.7500,1
429,430,1,3,1,32.00,0,0,8.0500,2
430,431,1,1,1,28.00,0,0,26.5500,2
431,432,1,3,0,28.00,1,0,16.1000,2
432,433,1,2,0,42.00,1,0,26.0000,2
433,434,0,3,1,17.00,0,0,7.1250,2
434,435,0,1,1,50.00,1,0,55.9000,2
435,436,1,1,0,14.00,1,2,120.0000,2
436,437,0,3,0,21.00,2,2,34.3750,2
437,438,1,2,0,24.00,2,3,18.7500,2
438,439,0,1,1,64.00,1,4,263.0000,2
439,440,0,2,1,31.00,0,0,10.5000,2
440,441,1,2,0,45.00,1,1,26.2500,2
441,442,0,3,1,20.00,0,0,9.5000,2
442,443,0,3,1,25.00,1,0,7.7750,2
443,444,1,2,0,28.00,0,0,13.0000,2
444,445,1,3,1,28.00,0,0,8.1125,2
445,446,1,1,1,4.00,0,2,81.8583,2
446,447,1,2,0,13.00,0,1,19.5000,2
447,448,1,1,1,34.00,0,0,26.5500,2
448,449,1,3,0,5.00,2,1,19.2583,0
449,450,1,1,1,52.00,0,0,30.5000,2
450,451,0,2,1,36.00,1,2,27.7500,2
451,452,0,3,1,28.00,1,0,19.9667,2
452,453,0,1,1,30.00,0,0,27.7500,0
453,454,1,1,1,49.00,1,0,89.1042,0
454,455,0,3,1,28.00,0,0,8.0500,2
455,456,1,3,1,29.00,0,0,7.8958,0
456,457,0,1,1,65.00,0,0,26.5500,2
457,458,1,1,0,28.00,1,0,51.8625,2
458,459,1,2,0,50.00,0,0,10.5000,2
459,460,0,3,1,28.00,0,0,7.7500,1
460,461,1,1,1,48.00,0,0,26.5500,2
461,462,0,3,1,34.00,0,0,8.0500,2
462,463,0,1,1,47.00,0,0,38.5000,2
463,464,0,2,1,48.00,0,0,13.0000,2
464,465,0,3,1,28.00,0,0,8.0500,2
465,466,0,3,1,38.00,0,0,7.0500,2
466,467,0,2,1,28.00,0,0,0.0000,2
467,468,0,1,1,56.00,0,0,26.5500,2
468,469,0,3,1,28.00,0,0,7.7250,1
469,470,1,3,0,0.75,2,1,19.2583,0
470,471,0,3,1,28.00,0,0,7.2500,2
471,472,0,3,1,38.00,0,0,8.6625,2
472,473,1,2,0,33.00,1,2,27.7500,2
473,474,1,2,0,23.00,0,0,13.7917,0
474,475,0,3,0,22.00,0,0,9.8375,2
475,476,0,1,1,28.00,0,0,52.0000,2
476,477,0,2,1,34.00,1,0,21.0000,2
477,478,0,3,1,29.00,1,0,7.0458,2
478,479,0,3,1,22.00,0,0,7.5208,2
479,480,1,3,0,2.00,0,1,12.2875,2
480,481,0,3,1,9.00,5,2,46.9000,2
481,482,0,2,1,28.00,0,0,0.0000,2
482,483,0,3,1,50.00,0,0,8.0500,2
483,484,1,3,0,63.00,0,0,9.5875,2
484,485,1,1,1,25.00,1,0,91.0792,0
485,486,0,3,0,28.00,3,1,25.4667,2
486,487,1,1,0,35.00,1,0,90.0000,2
487,488,0,1,1,58.00,0,0,29.7000,0
488,489,0,3,1,30.00,0,0,8.0500,2
489,490,1,3,1,9.00,1,1,15.9000,2
490,491,0,3,1,28.00,1,0,19.9667,2
491,492,0,3,1,21.00,0,0,7.2500,2
492,493,0,1,1,55.00,0,0,30.5000,2
493,494,0,1,1,71.00,0,0,49.5042,0
494,495,0,3,1,21.00,0,0,8.0500,2
495,496,0,3,1,28.00,0,0,14.4583,0
496,497,1,1,0,54.00,1,0,78.2667,0
497,498,0,3,1,28.00,0,0,15.1000,2
498,499,0,1,0,25.00,1,2,151.5500,2
499,500,0,3,1,24.00,0,0,7.7958,2
500,501,0,3,1,17.00,0,0,8.6625,2
501,502,0,3,0,21.00,0,0,7.7500,1
502,503,0,3,0,28.00,0,0,7.6292,1
503,504,0,3,0,37.00,0,0,9.5875,2
504,505,1,1,0,16.00,0,0,86.5000,2
505,506,0,1,1,18.00,1,0,108.9000,0
506,507,1,2,0,33.00,0,2,26.0000,2
507,508,1,1,1,28.00,0,0,26.5500,2
508,509,0,3,1,28.00,0,0,22.5250,2
509,510,1,3,1,26.00,0,0,56.4958,2
510,511,1,3,1,29.00,0,0,7.7500,1
511,512,0,3,1,28.00,0,0,8.0500,2
512,513,1,1,1,36.00,0,0,26.2875,2
513,514,1,1,0,54.00,1,0,59.4000,0
514,515,0,3,1,24.00,0,0,7.4958,2
515,516,0,1,1,47.00,0,0,34.0208,2
516,517,1,2,0,34.00,0,0,10.5000,2
517,518,0,3,1,28.00,0,0,24.1500,1
518,519,1,2,0,36.00,1,0,26.0000,2
519,520,0,3,1,32.00,0,0,7.8958,2
520,521,1,1,0,30.00,0,0,93.5000,2
521,522,0,3,1,22.00,0,0,7.8958,2
522,523,0,3,1,28.00,0,0,7.2250,0
523,524,1,1,0,44.00,0,1,57.9792,0
524,525,0,3,1,28.00,0,0,7.2292,0
525,526,0,3,1,40.50,0,0,7.7500,1
526,527,1,2,0,50.00,0,0,10.5000,2
527,528,0,1,1,28.00,0,0,221.7792,2
528,529,0,3,1,39.00,0,0,7.9250,2
529,530,0,2,1,23.00,2,1,11.5000,2
530,531,1,2,0,2.00,1,1,26.0000,2
531,532,0,3,1,28.00,0,0,7.2292,0
532,533,0,3,1,17.00,1,1,7.2292,0
533,534,1,3,0,28.00,0,2,22.3583,0
534,535,0,3,0,30.00,0,0,8.6625,2
535,536,1,2,0,7.00,0,2,26.2500,2
536,537,0,1,1,45.00,0,0,26.5500,2
537,538,1,1,0,30.00,0,0,106.4250,0
538,539,0,3,1,28.00,0,0,14.5000,2
539,540,1,1,0,22.00,0,2,49.5000,0
540,541,1,1,0,36.00,0,2,71.0000,2
541,542,0,3,0,9.00,4,2,31.2750,2
542,543,0,3,0,11.00,4,2,31.2750,2
543,544,1,2,1,32.00,1,0,26.0000,2
544,545,0,1,1,50.00,1,0,106.4250,0
545,546,0,1,1,64.00,0,0,26.0000,2
546,547,1,2,0,19.00,1,0,26.0000,2
547,548,1,2,1,28.00,0,0,13.8625,0
548,549,0,3,1,33.00,1,1,20.5250,2
549,550,1,2,1,8.00,1,1,36.7500,2
550,551,1,1,1,17.00,0,2,110.8833,0
551,552,0,2,1,27.00,0,0,26.0000,2
552,553,0,3,1,28.00,0,0,7.8292,1
553,554,1,3,1,22.00,0,0,7.2250,0
554,555,1,3,0,22.00,0,0,7.7750,2
555,556,0,1,1,62.00,0,0,26.5500,2
556,557,1,1,0,48.00,1,0,39.6000,0
557,558,0,1,1,28.00,0,0,227.5250,0
558,559,1,1,0,39.00,1,1,79.6500,2
559,560,1,3,0,36.00,1,0,17.4000,2
560,561,0,3,1,28.00,0,0,7.7500,1
561,562,0,3,1,40.00,0,0,7.8958,2
562,563,0,2,1,28.00,0,0,13.5000,2
563,564,0,3,1,28.00,0,0,8.0500,2
564,565,0,3,0,28.00,0,0,8.0500,2
565,566,0,3,1,24.00,2,0,24.1500,2
566,567,0,3,1,19.00,0,0,7.8958,2
567,568,0,3,0,29.00,0,4,21.0750,2
568,569,0,3,1,28.00,0,0,7.2292,0
569,570,1,3,1,32.00,0,0,7.8542,2
570,571,1,2,1,62.00,0,0,10.5000,2
571,572,1,1,0,53.00,2,0,51.4792,2
572,573,1,1,1,36.00,0,0,26.3875,2
573,574,1,3,0,28.00,0,0,7.7500,1
574,575,0,3,1,16.00,0,0,8.0500,2
575,576,0,3,1,19.00,0,0,14.5000,2
576,577,1,2,0,34.00,0,0,13.0000,2
577,578,1,1,0,39.00,1,0,55.9000,2
578,579,0,3,0,28.00,1,0,14.4583,0
579,580,1,3,1,32.00,0,0,7.9250,2
580,581,1,2,0,25.00,1,1,30.0000,2
581,582,1,1,0,39.00,1,1,110.8833,0
582,583,0,2,1,54.00,0,0,26.0000,2
583,584,0,1,1,36.00,0,0,40.1250,0
584,585,0,3,1,28.00,0,0,8.7125,0
585,586,1,1,0,18.00,0,2,79.6500,2
586,587,0,2,1,47.00,0,0,15.0000,2
587,588,1,1,1,60.00,1,1,79.2000,0
588,589,0,3,1,22.00,0,0,8.0500,2
589,590,0,3,1,28.00,0,0,8.0500,2
590,591,0,3,1,35.00,0,0,7.1250,2
591,592,1,1,0,52.00,1,0,78.2667,0
592,593,0,3,1,47.00,0,0,7.2500,2
593,594,0,3,0,28.00,0,2,7.7500,1
594,595,0,2,1,37.00,1,0,26.0000,2
595,596,0,3,1,36.00,1,1,24.1500,2
596,597,1,2,0,28.00,0,0,33.0000,2
597,598,0,3,1,49.00,0,0,0.0000,2
598,599,0,3,1,28.00,0,0,7.2250,0

In [ ]:
df = df.drop('Age', axis=1)
df.head()

   PassengerId  Survived  Pclass  Sex  SibSp  Parch     Fare  Embarked
0            1         0       3    1      1      0   7.2500         2
1            2         1       1    0      1      0  71.2833         0
2            3         1       3    0      0      0   7.9250         2
3            4         1       1    0      1      0  53.1000         2
4            5         0       3    1      0      0   8.0500         2

TESTE

In [ ]:
flabel = LabelEncoder()
df2['Sex'] = flabel.fit_transform(df2['Sex'])
df2['Embarked'] = flabel.fit_transform(df2['Embarked'])

In [ ]:
df2 = df2.select_dtypes(include=['int64','float64'])
df2.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          892       3    1  34.5      0      0   7.8292         1
1          893       3    0  47.0      1      0   7.0000         2
2          894       2    1  62.0      0      0   9.6875         1
3          895       3    1  27.0      0      0   8.6625         2
4          896       3    0  22.0      1      1  12.2875         2

In [ ]:
df2 = df2.drop('Age', axis=1)

In [ ]:
df2 = df2.drop('PassengerId', axis=1)

In [ ]:
df2 = df2.drop('Fare', axis=1)
df2.head()

   Pclass  Sex  SibSp  Parch  Embarked
0       3    1      0      0         1
1       3    0      1      0         2
2       2    1      0      0         1
3       3    1      0      0         2
4       3    0      1      1         2

In [ ]:
df = df.drop('PassengerId', axis=1)
df = df.drop('Fare', axis=1)

In [ ]:
df.head()

   Survived  Pclass  Sex  SibSp  Parch  Embarked
0         0       3    1      1      0         2
1         1       1    0      1      0         0
2         1       3    0      0      0         2
3         1       1    0      1      0         2
4         0       3    1      0      0         2

Seleo de Modelo

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x = df.drop(['Survived'], axis='columns')
y = df['Survived']

In [ ]:
x_treino,x_teste,y_treino,y_teste = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
print(len(x_treino),len(y_treino),len(x_teste),len(y_teste))

712 712 179 179

In [ ]:
from sklearn.linear_model import LogisticRegression
mrl = LogisticRegression()

In [ ]:
mrl.fit(x_treino, y_treino)

LogisticRegression()

In [ ]:
prl = mrl.predict(x_teste)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_teste, prl))

0.770949720670391

In [ ]:
from sklearn import tree
mad=tree.DecisionTreeClassifier()
mad.fit(x_treino,y_treino)

DecisionTreeClassifier()

In [ ]:
pad = mad.predict(x_teste)
print(accuracy_score(y_teste, pad))

0.7932960893854749

Treino Data

In [ ]:
mrl.fit(x,y)

LogisticRegression()

In [ ]:
pred = mrl.predict(df2)

In [ ]:
sub = pd.DataFrame({"PassengerId": gs["PassengerId"],"Survived":pred})

In [ ]:
gs.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [ ]:
from google.colab import files
sub.to_csv('submission.csv',index=False)
files.download('submission.csv')